@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--bg-color);
}
.fix-height {
  min-height: calc(100vh - 170px);
}
